# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WindowsFormsDz_3_3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ray\Documents\WinForms\WindowsFormsDz_3_3\.idea\.idea.WindowsFormsDz_3_3.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
