# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NewForm1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ray\Documents\WinForms\NewForm1\.idea\.idea.NewForm1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
